[*.cs]

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_locals_parameters_members = false:silent

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none
